<br>
<form action="/restaurants" method="post">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" id="name" name="name" class="form-control" placeholder="Restaurant Name" required>
      <small id="emailHelp" class="form-text text-muted">Max 50 Characters</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="image" class="col-sm-2 col-form-label">Image</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="image" placeholder="Image" name="image" required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Create Restaurant</button>
    </div>
  </div>
</form>